{
    "branches": [
        "main",
        "CD_backend_workflow"
    ],
    "tagFormat": "v${version}",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/github"
    ],
    "dry_run": false,
    "debug": false
}